body {
    margin: 0, auto;
    min-width: 50rem;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;
}

.wrapper {
    display: flex;
}

header {
    min-width: 120px; /* Adjust as necessary */
    position: relative; /* Relative positioning for the pseudo-element */
    padding: 1rem;
    padding-right: 2rem;
}

header::after {
    content: "";
    position: absolute;
    top: 4%;  /* Adjust this value to achieve the desired offset from the top */
    bottom: 5%;  /* Adjust this value to achieve the desired offset from the bottom */
    right: 0;
    width: 1px;
    background-color: #B7B78A; /* Vertical line separating header from content */
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1, p, strong {
    color: #333;
}
h2{
    color: #658864;
}

header .logo{
    text-align: right;
}

header nav a.logo strong{
    font-size: 1.5rem;
    margin-bottom: 0.5rem; /* Some spacing below the logo */
    text-decoration: none;
    color: #658864 !important;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0; /* Vertical padding for spacing */
}

a:hover {
    color: #B7B78A;
}

a.active {
    color: #B7B78A; /* or any other color you choose for the active link */
}

.main-content {
    flex-grow: 1;
    padding: 3rem;
    padding-top: 4.6rem;
}

hr {
    margin: 1rem 0;
    border: 0;

}