html {
  scroll-behavior: smooth;
}

section:first-of-type {
  padding-top: 100px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1;
}